/* line 1, ../scss/_market.scss */
body.portaltype-genweb-tfemarket-market {
  /* Collapses cambio de literal y movimiento de la flecha */
}
/* line 5, ../scss/_market.scss */
body.portaltype-genweb-tfemarket-market article#content #social_tags,
body.portaltype-genweb-tfemarket-market article#content footer {
  display: none;
}
/* line 17, ../scss/_market.scss */
body.portaltype-genweb-tfemarket-market .collapseBtn.collapsed .collapseShow {
  display: block;
}
/* line 21, ../scss/_market.scss */
body.portaltype-genweb-tfemarket-market .collapseBtn.collapsed .collapseHide {
  display: none;
}
/* line 25, ../scss/_market.scss */
body.portaltype-genweb-tfemarket-market .collapseBtn.collapsed > span:after {
  content: "\f282";
}
/* line 32, ../scss/_market.scss */
body.portaltype-genweb-tfemarket-market .collapseBtn:not(.collapsed) .collapseHide {
  display: block;
}
/* line 36, ../scss/_market.scss */
body.portaltype-genweb-tfemarket-market .collapseBtn:not(.collapsed) .collapseShow {
  display: none;
}
/* line 41, ../scss/_market.scss */
body.portaltype-genweb-tfemarket-market .collapseBtn > span:after {
  font-family: bootstrap-icons !important;
  content: "\f286";
  margin-left: 0.5rem;
  position: relative;
  top: 0.1rem;
  font-size: var(--gw-font-size-xs);
}
/* line 53, ../scss/_market.scss */
body.portaltype-genweb-tfemarket-market #collapseCercador > .card {
  background-image: url(++theme++genweb6.tfemarket/img/pattern-tfe.png);
}
