/* line 1, ../scss/_market.scss */
body.portaltype-genweb-tfemarket-market {
  /* Collapses cambio de literal y movimiento de la flecha */
}
/* line 5, ../scss/_market.scss */
body.portaltype-genweb-tfemarket-market article#content #social_tags,
body.portaltype-genweb-tfemarket-market article#content footer {
  display: none;
}
/* line 17, ../scss/_market.scss */
body.portaltype-genweb-tfemarket-market .collapseBtn.collapsed .collapseShow {
  display: block;
}
/* line 21, ../scss/_market.scss */
body.portaltype-genweb-tfemarket-market .collapseBtn.collapsed .collapseHide {
  display: none;
}
/* line 25, ../scss/_market.scss */
body.portaltype-genweb-tfemarket-market .collapseBtn.collapsed > span:after {
  content: "\f282";
}
/* line 32, ../scss/_market.scss */
body.portaltype-genweb-tfemarket-market .collapseBtn:not(.collapsed) .collapseHide {
  display: block;
}
/* line 36, ../scss/_market.scss */
body.portaltype-genweb-tfemarket-market .collapseBtn:not(.collapsed) .collapseShow {
  display: none;
}
/* line 41, ../scss/_market.scss */
body.portaltype-genweb-tfemarket-market .collapseBtn > span:after {
  font-family: bootstrap-icons !important;
  content: "\f286";
  margin-left: 0.5rem;
  position: relative;
  top: 0.1rem;
  font-size: var(--gw-font-size-xs);
}
/* line 53, ../scss/_market.scss */
body.portaltype-genweb-tfemarket-market #collapseCercador > .card {
  background-image: url(++theme++genweb6.tfemarket/img/pattern-tfe.png);
}
@media (max-width: 576px) {
  /* line 60, ../scss/_market.scss */
  body.portaltype-genweb-tfemarket-market .badges {
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  /* line 64, ../scss/_market.scss */
  body.portaltype-genweb-tfemarket-market .badges .badge {
    margin-bottom: 0.25rem;
  }
}

/* line 71, ../scss/_market.scss */
#form-widgets-teacher_manager-error,
#form-widgets-codirector-error {
  color: #FF0000;
  display: none;
}

/* line 77, ../scss/_market.scss */
#form-widgets-teacher_manager-error.viewError,
#form-widgets-teacher_manager-warn.viewWarn,
#form-widgets-codirector-error.viewError,
#form-widgets-codirector-warn.viewWarn {
  display: block;
}

/* line 84, ../scss/_market.scss */
#form-widgets-teacher_manager-warn,
#form-widgets-codirector-warn {
  display: none;
}
