body.portaltype-genweb-tfemarket-market {

  article#content {

    #social_tags,
    footer {
      display: none;
    }
  }

  /* Collapses cambio de literal y movimiento de la flecha */

  .collapseBtn {

    &.collapsed {

      .collapseShow {
        display: block;
      }

      .collapseHide {
        display: none;
      }

      & > span:after {
        content: "\f282";
      }
    }

    &:not(.collapsed) {

      .collapseHide {
        display: block;
      }

      .collapseShow {
        display: none;
      }
    }

    & > span:after {
      font-family: bootstrap-icons!important;
      content: "\f286";
      margin-left: 0.5rem;
      position: relative;
      top: 0.1rem;
      font-size: var(--gw-font-size-xs);
    }
  }

  #collapseCercador {

    & > .card {
      background-image: url(++theme++genweb6.tfemarket/img/pattern-tfe.png);
    }
  }

  @media (max-width: 576px) {

    .badges {
      justify-content: flex-end;
      flex-wrap: wrap;

      .badge {
        margin-bottom: 0.25rem;
      }
    }
  }
}
